@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #121212;
  font-family: 'Outfit', sans-serif;
  background-color: #f9ffe7;
}

a {
  color: inherit;
  text-decoration: none;
}
